<div class="container-fluid pull-left">
    <div class="content_wrapper">
        <div class="tab-pane fade in active"  block-ui="DocVBlockUI" >
            <div id="docViewer" class="media">
            </div>
            
            <iframe id="pdfViewer" src="../../Scripts/pdfjs/web/viewer.html" style="width: 100%; height: 800px;" allowfullscreen="" webkitallowfullscreen=""></iframe>
        </div>
    </div>
</div>



<!--<div class="wrapper" ng-controller="ipm.documentviewer.controller">
    <h1>{{pdfName}}</h1>
    <ng-pdf template-url="/app/shared/partials/viewer.html" canvasid="pdf" scale="page-fit" page=13></ng-pdf>
</div>-->
<!--<style>
    .pdfobject-container {
        height: 500px;
    }

    .pdfobject {
        border: 1px solid #666;
    }
</style>

    <div id="example1"></div>-->
<!--<style>
    

    .some-pdf-container {
        width: 100%;
        height: 100%;
    }
</style>



<div class='some-pdf-container'>
    <pdfjs-viewer src="{{ pdf.src }}" scale="scale"
                  download="true" print="false" open="false"
                  on-init="onInit()" on-page-load="onPageLoad(page)">
    </pdfjs-viewer>
</div>-->


<!--<div class="wrapper" ng-controller="ipm.documentviewer.controller">
    <h1>{{pdfName}}</h1>
    <ng-pdf template-url="/app/shared/partials/viewer.html" canvasid="pdf" scale="page-fit" page=13></ng-pdf>
</div>-->

