<div class="block-ui-overlay" style="opacity: 0.7;"></div>
<div class="block-ui-message-container" aria-live="assertive" aria-atomic="true">
    <div class=" ng-binding" ng-class="$_blockUiMessageClass">
        <!--<img src="/Content/css/styles/images/preloader/Preloader_9.gif" width="50" height="50" />-->

        <!--<img src="/Content/css/styles/images/preloader/preload-circle.gif" width="50" height="50" style=""/>-->

        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>

        <!--<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>-->
    </div>
</div>