<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>iPrism</title>
    <link href="/Content/ui-grid.css" rel="stylesheet" type="text/css" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="/Content/angular-toastr.css" rel="stylesheet" />
    <link href="/Content/jquery.rondell.css" rel="stylesheet" />
    <link href="/Content/css/styles/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/select.css" rel="stylesheet" />
    <link href="/Content/select2.css" rel="stylesheet" />
    <link href="/Content/ngDialog-theme-default.css" rel="stylesheet" />
    <link href="/Content/ngDialog.css" rel="stylesheet" />
    <link href="/Content/loading-bar.css" rel="stylesheet" />
    <link href="/Content/selectize.css" rel="stylesheet" />
    <link href="/Content/angular-block-ui.css" rel="stylesheet" />
    <link href="/Content/angular-carousel.css" rel="stylesheet" />
    <link href="/Content/videoplayer.css" rel="stylesheet" />
    <link href="/Content/angular-filemanager.min.css" rel="stylesheet" />
    <link href="/Content/ui-grid.css" rel="stylesheet" />
    <link href="/Content/css/styles/custom.css" rel="stylesheet" />
    <link href="/Content/css/styles/ie10-viewport-bug-workaround.css" rel="stylesheet" />
    <link href="/Content/css/styles/media-quiries.css" rel="stylesheet" />
    <link href="/Content/css/styles/rosterTable.css" rel="stylesheet" />
    <link href="/Content/css/styles/animate.css" rel="stylesheet" />
    <link href="/Content/css/styles/dashboard.css" rel="stylesheet" />
    <link href="/Content/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="/Content/css/styles/profileTabs.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>


</head>
<body class="error_bg">
    <div class="error_container">
        <i class="fa fa-exclamation-triangle fa-5 error_icon" aria-hidden="true"></i>
        
        
        <h1>404 Error <span>Page not found</span></h1>

        <h2>Sorry, the page not found!!</h2>

        <p>The link you followed is probably broken, <br />or the page has been removed.</p>
        <button type="submit" class="btn btn-primary pull-sm-right" title="" ng-click="search()">Go back to Home Page </button>

    </div>
</body>
</html>


