<div class="container-fluid pull-left">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="content_wrapper Mob_margZero martop100">
        <!-- bs-example-navbar-collapse-1 -->
        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-12 Mob_padZero">
            <h1 class="authtitle">
                iPRISM Authentication
            </h1>
        </div>
        <!--Left panel-->

        <div class="row userAunthent">
            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-11 mob-marLef15">
                <div class="panel panel-default">
                    <!--<h1 class="page-tittle">
                        iPRISM Authentication
                    </h1>-->
                    <div class="panel-body" style="min-height:300px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 martop20">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row martop10">
                                        <div class=" form-group col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-3 col-md-3 col-sm-3 col-xs-8">
                                            <div style="background:#ccc;height:35px;">
                                                <img class="captchaImg" src="" />
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-3 martop5 floatLeftM20 mob-floatLeftM20">
                                            <button class="btn fa fa-refresh" />
                                        </div>
                                    </div>


                                    <div class="row martop20">
                                        <div class="form-group  col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-lg-4 col-md-4 col-sm-5 col-xs-12 ">
                                            <label for="ex1" class="mini_text">Enter the text from image above</label>

                                        </div>
                                        <div class="form-group col-lg-3 col-md-3 col-sm-4 col-xs-10 floatLeftM20 ">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="form-group  col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-lg-2 col-md-2 col-sm-2 col-xs-offset-4 col-xs-4">
                                    <button class="btn btn-primary">Submit</button>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
   
</div>
