<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padZero content_box spl_fix" block-ui="ipmCrewPrfmIndtrBlockUI">
    <h1>
        Performance Indicator
    </h1>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padZero">
        <div class="table-responsive marall10 Mob_margZero">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th width="60%">
                            Crew Values
                        </th>
                        <th width="40%">
                            Value
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Crew Recognition (FY 2016)
                        </td>
                        <td>
                            
                        </td>

                    </tr>
                    <tr>
                        <td>
                            IDP (FY 2016)
                        </td>
                        <td>
                            
                        </td>

                    </tr>
                    <tr>
                        <td>
                            No AV (FY 2016)
                        </td>
                        <td>
                            
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Sickness (FY 2016)
                        </td>
                        <td>
                            
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Un Paid (FY 2016)
                        </td>
                        <td>
                            
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>