<div class="container-fluid pull-left">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="content_wrapper Mob_margZero">
        
        <!-- bs-example-navbar-collapse-1 -->
        <div class="col-lg-12 col-md-12 col-sm-12 MobpadZero martop20">


            <!--Left panel-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Mob_padZero padright5" block-ui="ipmCrewProfileBlockUI">

                <div class="" id="cpPersonalDetailsId" ui-view="ipmdetailsUIView">
                </div>
                <div id="cpCareerPath" ui-view="ipmcareerPathUIView">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  content_box padZero" id="cpTabs" ui-view="ipmTabsUIView">
                </div>

            </div>

            <!--<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 PadRight0_md  Mob_padZero  leftfix_meeting">


                <div id="cpPrfmIndicator" ui-view="ipmPrfmIndicatorUIView">
                </div>

                <div id="cpTrainings" ui-view="ipmTrainingUIView">
                </div>
            </div>-->


        </div>
        <!--tabs+Accordion wrap-->
    </div>
    <!--Right panel-->
</div>







