<ul id="latestNewsTab" class="nav nav-tabs">
    <li class="active"><a href="#vision" data-toggle="tab">Our Vision</a></li>
    <li><a href="#svpmsg" data-toggle="tab">SVP Messages</a></li>
    <li><a href="#deptNews" data-toggle="tab">Department News</a></li>
    <li><a href="#mnthNews" data-toggle="tab">Airline News</a></li>
    <li><a href="#IFEguide" data-toggle="tab">Monthly IFE Guide</a></li>
</ul>
<div id="Div1" class="tab-content">
    <div class="tab-pane fade in active " id="vision">
        <div id="myCarousel1" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel1" data-slide-to="1"></li>
                <li data-target="#myCarousel1" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Set the first background image using inline CSS below. -->
                    <div class="fill" style="background-image: url('/Content/css/styles/images/galery/vision_pic1.png');">
                    </div>
                </div>
                <div class="item">
                    <!-- Set the second background image using inline CSS below. -->
                    <div class="fill" style="background-image: url('/Content/css/styles/images/galery/vision_pic2.png');">
                    </div>
                </div>
                <div class="item">
                    <!-- Set the third background image using inline CSS below. -->
                    <div class="fill" style="background-image: url('/Content/css/styles/images/galery/vision_pic3.png');">
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                <span class="icon-prev">
                </span>
            </a><a class="right carousel-control" href="#myCarousel1" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
    <div class="tab-pane fade" id="svpmsg">
        <div id="myCarousel2" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel2" data-slide-to="1"></li>
                <li data-target="#myCarousel2" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="fill" style="background-image: url('/Content/css/styles/images/SVP_pic1.png');">
                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image: url('/Content/css/styles/images/SVP_pic2.png');">
                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image: url('/Content/css/styles/images/SVP_pic3.png');">
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                <span class="icon-prev">
                </span>
            </a><a class="right carousel-control" href="#myCarousel2" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
    <div class="tab-pane fade" id="deptNews">
        <div class="col-lg-12 col-md-12 col-sm-12 departmentNews">
            <div class="Dept_newsPic col-lg-4 col-md-4 col-sm-12">
                <img src="images/galery/newsPic1.jpg" /><br />
                <a herf="#">Breifing Notes - Issues No 12</a>
            </div>
            <div class="Dept_newsList col-lg-8 col-md-8 col-sm-12">
                <ul>
                    <li class="current">
                        <a href="">Breifing Notes - Issues No 12</a> | <i>
                            Posted on 16 Dec
                            2015, 8:48 AM
                        </i>
                    </li>
                    <li>
                        <a href="#">F1 F2 Newsletter DECEMBER 2015</a> | <i>
                            Posted on 10 Dec 2015, 8:48
                            AM
                        </i>
                    </li>
                    <li>
                        <a href="#">F1 F2 Newsletter DECEMBER 2015</a> | <i>
                            Posted on 10 Dec 2015, 8:48
                            AM
                        </i>
                    </li>
                    <li><a href="#">Q WAYS - DECEMBER 2015</a> | <i>Posted on 10 Dec 2015, 8:48 AM</i></li>
                    <li>
                        <a href="#">BRIEFING NOTES - NOVEMBER ISSUE 2</a> | <i>
                            Posted on 25 Nov 2015, 8:48
                            AM
                        </i>
                    </li>
                    <li>
                        <a href="#">CSD CS NEWSLETTER November 2015</a> | <i>
                            Posted on 22 Nov 2015, 8:48
                            AM
                        </i>
                    </li>
                    <li>
                        <a href="#">F1 F2 NEWSLETTER November 2015Use</a> | <i>
                            Posted on 10 Nov 2015, 8:48
                            AM
                        </i>
                    </li>
                    <li>
                        <a href="#">F1 F2 NEWSLETTER November 2015Use</a> | <i>
                            Posted on 10 Nov 2015, 8:48
                            AM
                        </i>
                    </li>
                    <li>
                        <a href="#">BRIEFING NOTES - OCTOBER Issue 2</a> | <i>
                            Posted on 10 Oct 2015, 8:48
                            AM
                        </i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="mnthNews">
        <div class="col-lg-12 col-md-12 col-sm-12 departmentNews">
            <div class="Dept_newsPic col-lg-4 col-md-4 col-sm-12">
                <img src="images/galery/newsPic2.jpg" /><br />
                Following months of painful trimming as part of a broad turnaround programme, Malaysia
                Airlines (MAB) looks set to receive...
            </div>
            <div class="Dept_newsList col-lg-8 col-md-8 col-sm-12">
                <ul>
                    <li class="current">
                        <a href="">Malaysia Airlines turns to Emirates</a> | <i>
                            Posted on
                            16 Dec 2015, 8:48 AM
                        </i>
                    </li>
                    <li>
                        <a href="#">Hawaii names 19 potential new routes</a> | <i>
                            Posted on 10 Dec 2015,
                            8:48 AM
                        </i>
                    </li>
                    <li>
                        <a href="#">Spring Airlines orders 60 A320neos</a> | <i>
                            Posted on 10 Dec 2015, 8:48
                            AM
                        </i>
                    </li>
                    <li>
                        <a href="#">Delta orders 20 737-900ERs, buys used E190s</a> | <i>
                            Posted on 10 Dec
                            2015, 8:48 AM
                        </i>
                    </li>
                    <li>
                        <a href="#">Fuel savings and strong demand to drive 2016 profits</a> | <i>
                            Posted
                            on 25 Nov 2015, 8:48 AM
                        </i>
                    </li>
                    <li>
                        <a href="#">A319 flew low over terrain as crew lost position awareness</a> | <i>
                            Posted on 22 Nov 2015, 8:48 AM
                        </i>
                    </li>
                    <li>
                        <a href="#">Qatar chief points to air traffic control in Miami collision</a> | <i>
                            Posted on 10 Nov 2015, 8:48 AM
                        </i>
                    </li>
                    <li>
                        <a href="#">Carpatair ATR crash probe highlights pilots' experience gap</a> | <i>
                            Posted on 10 Nov 2015, 8:48 AM
                        </i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="IFEguide">
        <div class="col-lg-12 col-md-12 col-sm-12 departmentNews">
            <div class="Dept_newsPic col-lg-4 col-md-4 col-sm-12">
                <img src="images/galery/MonthIFE-1.jpg" width="222" height="122" /><br />
                Monthly IFE Guide for the month of December 2015.
            </div>
            <div class="Dept_newsList col-lg-8 col-md-8 col-sm-12">
                <ul>
                    <li class="current">
                        <a href="">MONTHLY IFE GUIDE - DECEMBER 2015</a> | <i>
                            Posted on
                            02 Dec 2015, 4:03 PM
                        </i>
                    </li>
                    <li>
                        <a href="#">HMONTHLY IFE GUIDE - NOVEMBER 2015</a> | <i>
                            Posted on 10 Dec 2015, 8:48
                            AM
                        </i>
                    </li>
                    <li>
                        <a href="#">MONTHLY IFE GUIDE - OCTOBER 2015</a> | <i>
                            Posted on 10 Dec 2015, 8:48
                            AM
                        </i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>