<div class="container-fluid pull-left">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="content_wrapper Mob_margZero">
        <!-- bs-example-navbar-collapse-1 -->
        <div class="col-lg-12 col-md-12 col-sm-12 Mob_padZero">
            <h1 class="page-tittle">
                Enter eVR
            </h1>
        </div>
        <!--Left panel-->
        <div class="col-lg-12 col-md-12 col-sm-12 formStyles">
            <!--Profile-->
            <!-- Row start -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eVRScreentabs">
                <ul class="nav nav-tabs nav-tab-evr">
                    <li class="active"><a data-toggle="tab" href="#sectionA">Flight Details</a></li>
                    <li><a data-toggle="tab" href="#sectionB">eVR Forms</a></li>
                    <li><a data-toggle="tab" href="#sectionC">Draft eVRs(0)</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eVR_details">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-lg-12 col-md-12 padZero">
                                        <div class="flight_dettab_info">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <label for="ex1" class="mini_text">Flight Number:</label>
                                                <label class="label_text">QR 1016</label>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <label for="ex1" class="mini_text">Aircraft Type:</label>
                                                <label class="label_text">321</label>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <label for="ex1" class="mini_text">Aircraft Reg No:</label>
                                                <label class="label_text">A7-321</label>
                                            </div>

                                            <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12">
                                                <label for="ex1" class="mini_text">Sector From:</label>
                                                <label class="label_text">DOH</label>
                                            </div>
                                            <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12">
                                                <label for="ex1" class="mini_text">Sector To:</label>
                                                <label class="label_text">DXB</label>
                                            </div>
                                            <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12">
                                                <label for="ex1" class="mini_text">Final Destination:</label>
                                                <label class="label_text">DXB</label>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flttimecont">
                                        <h5 class="flttime_title">Flight Time</h5>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marLeft10 tb-martop10">
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                <span>STD Date</span>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 floatLeftM50">
                                                <label for="ex1" class="mini_text">26 OCT 2015</label>

                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 timemarLef10">
                                                <label for="ex1" class="mini_text txtbold">Time</label>

                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 floatLeftM30">
                                                <label for="ex1" class="mini_text">12:00</label>

                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marLeft10 tb-martop10">
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                <span>ATD Date</span>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 floatLeftM50">
                                                <label class="label_text">25 OCT 2015</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-3  col-xs-6 timemarLef10">
                                                <label class="label_text txtbold">Time</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2  col-xs-6 floatLeftM30">
                                                <label class="label_text">10:00</label>
                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marLeft10 tb-martop10">
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                <span>STA Date</span>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3  col-xs-6 floatLeftM50">
                                                <label class="label_text">28 OCT 2015</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-3  col-xs-6 timemarLef10">
                                                <label class="label_text txtbold">Time</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2  col-xs-6 floatLeftM30">
                                                <label class="label_text">11:00</label>
                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marLeft10 tb-martop10">
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                <span>ATA Date</span>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3  col-xs-6 floatLeftM50">
                                                <label class="label_text">28 OCT 2015</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-3  col-xs-6 timemarLef10">
                                                <label class="label_text txtbold">Time</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 floatLeftM30">
                                                <label class="label_text">11:00</label>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 passcapacitypanel">
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 passcapcont">
                                        <h5 class="passcap_title">Passenger Capacity Load</h5>

                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                            <div class="col-lg-4 col-md-4 col-xs-12">

                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-3  col-xs-offset-1 col-xs-3">
                                                <label for="ex1" class="mini_text">Capacity</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-3  col-xs-offset-1 col-xs-3">
                                                <label for="ex1" class="mini_text">Load</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2  col-xs-4">
                                                <label for="ex1" class="mini_text">Infants</label>
                                            </div>
                                        </div>

                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                            <div class="col-lg-5 col-md-5 col-xs-3">
                                                <span>First Class</span>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
                                                <label class="label_text">1</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-3  col-xs-3">
                                                <label class="label_text">0</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2  col-xs-3">
                                                <label class="label_text">2</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                            <div class="col-lg-5 col-md-5 col-xs-3">
                                                <span>Business Class</span>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
                                                <label class="label_text">2</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-3  col-xs-3">
                                                <label class="label_text">5</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2  col-xs-3">
                                                <label class="label_text">0</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                            <div class="col-lg-5 col-md-5 col-xs-3">
                                                <span>Economy Class</span>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
                                                <label class="label_text">1</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-3  col-xs-3">
                                                <label class="label_text">0</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2  col-xs-3">
                                                <label class="label_text">3</label>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mob-fltferryckb">
                                            <input type="checkbox" />
                                            <span>Ferry Flight</span>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h5 class="title_h4">Pre-flight Check</h5>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-10">
                                            <label for="ex1" class="mini_text">Grooming Check done by GO?:</label>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 tb-ckbalign">
                                            <input type="checkbox" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-lg-2 col-md-2 col-sm-4  col-xs-10">
                                            <label for="ex1" class="mini_text">CSD/CS briefed by BO?</label>

                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 tb-ckbalign">
                                            <input type="checkbox" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h5 class="title_h4">Crew Work Positions</h5>

                                    <div class="">
                                        <div class="row martop5 crew_WPtitle">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Staff Number</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">Staff Name</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">Staff Grade</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Crew Work Position</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Announcement Language</div>
                                           
                                        </div>
                                        <div class="row martop5">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">64933</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">KINNALTHUTTO Abdhulrazack Aboobakker</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">F2</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                        </div>
                                        <div class="row martop5">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">34377</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">PISICA Adrian Alaxendru</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">F1</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                        </div>
                                        <div class="row martop5">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">32126</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">CARCEL Cristian Adrian</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">F1</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                        </div>
                                        <div class="row martop5">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">28232</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">CUYUGAN Fae Ann Jo Marfa</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">CS</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                        </div>
                                        <div class="row martop5">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">39440</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">KARIMI Jafar Ali</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">CS</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                        </div>
                                        <div class="row martop5">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">40813</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">PAJARIYAPONG Parichant</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">F1</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                        </div>
                                        <div class="row martop5">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">64570</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">LARAKI Sanaa</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">F2</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Right panel-->

                </div>


                <div id="sectionB" class="tab-pane fade">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h5 class="title_h4">Select Report About</h5>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marbottom5">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <label for="ex1" class="mini_text">*Report About:</label>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                                                <select name="" id="" class="form-control">
                                                    <option value="" class="">Food</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12 marbottom5">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <label for="ex1" class="mini_text">*Category:</label>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                <select name="" id="" class="form-control">
                                                    <option value="" class="">Quality</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <label for="ex1" class="mini_text">*Sub Category:</label>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                <select name="" id="" class="form-control">
                                                    <option value="" class="">Presentation</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 reportAboutcont">
                                        <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12 marbottom5">
                                            <div class="col-lg-4 col-md-4 col-sm-6  col-xs-12">
                                                <label for="ex1" class="mini_text">Owner:</label>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12  col-xs-12">
                                                <select name="" id="" class="form-control">
                                                    <option value="" class=""></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12 marbottom5">
                                            <div class="col-lg-4 col-md-4 col-sm-6  col-xs-12">
                                                <label for="ex1" class="mini_text">Non Owner:</label>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12  col-xs-12">
                                                <select name="" id="" class="form-control">
                                                    <option value="" class=""></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12 marbottom5">
                                            <div class="col-lg-4 col-md-4 col-sm-6  col-xs-8">
                                                <label for="ex1" class="mini_text">Restrict eVR:</label>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-1  col-xs-2">
                                                <input type="checkbox" />
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 reportAboutcont">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-offset-1 col-xs-10">
                                            <label for="ex1" class="mini_text">Add Other Department:</label>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-offset-1 col-xs-10">
                                            <textarea class="form-control" placeholder="Flight Operations(FOP)"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 listckboxcont">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <label for="ex1" class="mini_text">Criticality:</label>
                                            <input type="checkbox" />
                                            <span>Critical</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 listcabinckb">
                                            <label for="ex1" class="mini_text">*Cabin Class:</label>
                                            <input type="checkbox" /><span>First Class</span>
                                            <input type="checkbox" /><span>Business Class</span>
                                            <input type="checkbox" /><span>Economy Class</span>
                                            <input type="checkbox" /><span>All</span>
                                            <input type="checkbox" /><span>NA</span>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 listreportckb">
                                            <label for="ex1" class="mini_text">Reported As:</label>
                                            <input type="checkbox" /><span>CSR</span>
                                            <input type="checkbox" /><span>OHS</span>
                                            <input type="checkbox" /><span>PM/PO</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eVR_details">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h5 class="title_h4">Passenger Details</h5>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 passegdetailstab">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#passengerdetails">Passenger Details</a></li>
                                            <li><a data-toggle="tab" href="#crewdetails">Crew Details</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div id="passengerdetails" class="tab-pane fade in active">
                                            <div class="col-lg-12 col-md-12 passengerFFPcont">

                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 tb-martop10">
                                                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                                        <label for="ex1" class="pasdet_label">FFP Number:</label>
                                                    </div>
                                                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-4  col-xs-12 tb-martop10">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <label for="ex1" class="pasdet_label">* Seat Number:</label>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-sm-4  col-xs-12 tb-martop10">
                                                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                                        <label for="ex1" class="pasdet_label">Passenger Name:</label>
                                                    </div>
                                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                                        <button class="btn btn-psdet-add">Add</button>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-12 col-md-12 padZero">

                                                <div class="">
                                                    <div class="row mob-pass-det-top crew_WPtitle">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">FFP Number</div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">Seat Number</div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 floatLefM15">Passenger Name</div>
                                                    </div>
                                                    <div class="row martop5">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">123</div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">22A</div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 floatLefM15">John Bridge</div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="crewdetails" class="tab-pane fade">
                                            <div class="col-lg-12 col-md-12 ">

                                                <div class="">
                                                    <div class="row mob-pass-det-top crew_WPtitle">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Staff Number</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">Staff Name</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">Staff Grade</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Incident With</div>
                                                    </div>
                                                    <div class="row martop5">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">64933</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">KINNALTHUTTO Abdhulrazack Aboobakker</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">F2</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                                    </div>
                                                    <div class="row martop5">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">34377</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">PISICA Adrian Alaxendru</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">F1</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                                    </div>
                                                    <div class="row martop5">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">32126</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">CARCEL Cristian Adrian</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">F1</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                                    </div>
                                                    <div class="row martop5">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">28232</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">CUYUGAN Fae Ann Jo Marfa</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">CS</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                                    </div>
                                                    <div class="row martop5">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">39440</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">KARIMI Jafar Ali</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">CS</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                                    </div>
                                                    <div class="row martop5">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">40813</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">PAJARIYAPONG Parichant</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">F1</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                                    </div>
                                                    <div class="row martop5">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">64570</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">LARAKI Sanaa</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 floatLefM15">F2</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">NA</div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h5 class="title_h4">Comments & Attachments</h5>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments_tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#factscomment">Facts</a></li>
                                            <li><a data-toggle="tab" href="#actioncomment">Actions</a></li>
                                            <li><a data-toggle="tab" href="#resultcomment">Results</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div id="factscomment" class="tab-pane fade in active">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <textarea class="form-control" rows="3" id="factscmt"></textarea>
                                            </div>
                                            <h5 class="">Fact comments cannot exceed 4000 characters.</h5>
                                        </div>
                                        <div id="actioncomment" class="tab-pane fade">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <textarea class="form-control" rows="3" id="actioncmt"></textarea>
                                            </div>
                                            <h5 class="">Action comments cannot exceed 4000 characters.</h5>
                                        </div>
                                        <div id="resultcomment" class="tab-pane fade">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <textarea class="form-control" rows="3" id="resultcmt"></textarea>
                                            </div>
                                            <h5 class="">Result comments cannot exceed 4000 characters.</h5>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                            <h5 class="attach_title">Attachment</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" class="form-control" />
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 tb-martop10">
                                            <button type="submit" class="btn btn-browse" title="">Browse</button>
                                            <button type="submit" class="btn btn-browse" title="">Attach</button>
                                        </div>
                                    </div>

                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 martop10">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <h5 class="flt_attach_doc">Attached Documents</h5>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <label for="ex1" class="mini_text">Currently no file is attached</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="txtRight martop5 col-lg-12 col-md-12 col-sm-12 ng-scope">
                        <button type="submit" class="btn btn-primary" title="" ng-click="submitRequest(housingRequestForm)">Save</button>
                        <button type="submit" class="btn btn-primary" title="" ng-click="clearForm()">Submit</button>
                    </div>




                </div>
                <div id="sectionC" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-lg-12 col-md-12 padZero">


                                        <div class="">
                                            <div class="row martop5 crew_WPtitle">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">eVR ID</div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Report About</div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Category</div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Sub Category</div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Owner Department</div>
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Status</div>
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                            </div>
                                            <div class="row martop5 mob-drafteVRfont">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><input type="radio" /><span>1983480</span></div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Joined Briefings</div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Done</div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Onboard Aircraft</div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Human Factor</div>
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Draft</div>
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><span class="fa fa-times"></span></div>
                                            </div>
                                        </div>
 
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
