<div class="container-fluid pull-left" ng-show="$state.current.name === 'addEditFlight'">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="content_wrapper Mob_margZero">
        <!-- bs-example-navbar-collapse-1 -->
        <div class="col-lg-12 col-md-12 col-sm-12 Mob_padZero">
            <h1 class="page-tittle">
                Add/Edit Flight
            </h1>

            <!--Left panel-->
            <div class="col-lg-12 col-md-12 col-sm-12 formStyles mob-overflowhid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form_inputs">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">

                                <h3 class="panel-title">
                                    <span> Search Flight<i class="pull-right"></i></span>
                                    <i class="pull-right">Note: Search for - (Flight Number and ATD Date) or (ATD Date and Sector From - Sector To)</i>
                                </h3>
                            </div>
                            <div class="panel-body detailForm mob_padLeftZero mob_padRightZero" block-ui="ipmFlightdelayBlockUI">

                                <ng-form name="flightDelay">
                                    <div class="col-lg-11 col-md-11 padZero Mob_padZero form-outline col-lg-offset-right-1 col-sm-offset-right-1 ctrlLblAlgn">
                                        <!--row fix-->
                                        <div class="row ">

                                            <label class="control-label col-lg-2 col-md-2 col-sm-3 "><span>Flight Number</span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-9">
                                                <div class="input-group newCntrl">
                                                    <span class="input-group-addon">QR</span>
                                                    <input type="text" class="form-control validation qrTxtBxHeight" ng-model="model.FlightNumberObj">
                                                    <span class="input-group-addon">eg. 264</span>
                                                </div>
                                            </div>

                                            <srd-datepicker type="text" name="atdDate" label="ATD Date" field-class="col-lg-4 col-md-4 col-sm-9 " label-class="col-lg-2 col-md-2 col-sm-3" model="model.FromDateObj" required="false" min="mindate"></srd-datepicker>
                                        </div><div class="row">
                                            <!--<src-select field-class="col-lg-3 col-md-3 col-sm-9" model="model.SectorFromObj" required="false" list="SectorList"
                        label="Sector From" name="SectorFrom" multiple="false" label-class="col-lg-1 col-md-3 col-sm-3">
            </src-select>-->

                                            <label class="control-label col-lg-2 col-md-2 col-sm-3">Sector From</label>
                                            <div class="col-lg-4 col-md-4 col-sm-9 srd-select" ng-class="{'prmInvalid' : (submitted ||flightDelayForm.SectorFrom.$touched) && flightDelayForm.SectorFrom.$invalid}">
                                                <ui-select ng-model="model.SectorFromObj" ng-required="false" name="SectorFrom">
                                                    <ui-select-match placeholder="--Select--" allow-clear="true">{{$select.selected.Text}}</ui-select-match>
                                                    <ui-select-choices repeat="model in SectorList | propsFilter: {Desc: $select.search}">
                                                        <div ng-bind-html="model.Desc | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>

                                            <!--<src-select field-class="col-lg-3 col-md-3 col-sm-9" model="model.SectorToObj" required="false" list="SectorList"
                        label="Sector To" name="SectorTo" multiple="false" label-class="col-lg-1 col-md-3 col-sm-3">
            </src-select>-->

                                            <label class="control-label col-lg-2 col-md-2 col-sm-3">Sector To</label>
                                            <div class="col-lg-4 col-md-4 col-sm-9 srd-select" ng-class="{'prmInvalid' : (submitted ||flightDelayForm.SectorTo.$touched) && flightDelayForm.SectorTo.$invalid}">
                                                <ui-select ng-model="model.SectorToObj" ng-required="false" name="SectorTo">
                                                    <ui-select-match placeholder="--Select--" allow-clear="true">{{$select.selected.Text}}</ui-select-match>
                                                    <ui-select-choices repeat="model in SectorList | propsFilter: {Desc: $select.search}">
                                                        <div ng-bind-html="model.Desc | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 padZero">
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-primary" ng-click="search(flightDelay)">Search</button>
                                            <button type="submit" class="btn btn-primary" ng-click="clearForm(flightDelay)">Reset</button>
                                        </div>
                                    </div>
                                </ng-form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padZero">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="table-responsive dataGrid_styles">                                       
                                        <div ui-grid="grid" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize ng-style="getTableHeight(grid)" class="grid searchGrid">
                                            <div class="watermark" ng-show="!grid.data.length">No flight are available</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Right panel-->
    </div>
</div>

<div class="container-fluid pull-left" ui-view="addeditflightSubview"></div>

<script type="text/javascript">
    $(document).ready(function () {
        setContainerHeight();
    });
</script>