<div class="col-lg-12 col-md-12 col-sm-12 Mob_padZero">
    <h1 class="page-tittle">
        Notifications
    </h1>
    <div class="col-lg-12 col-md-12 col-sm-12 Mob_padZero formStyles">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix highlightPanelHeading">
                        <h3 class="panel-title">
                            Notification Details <i class="pull-right"></i>
                        </h3>
                    </div>
                    <div class="panel-body detailForm mob_padLeftZero mob_padRightZero">

                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 Mob_padZero">
                            <div class="form-group">
                                <label class="control-label col-lg-5 col-md-4  col-sm-3">
                                    Notification ID 
                                </label>
                                <div class="col-lg-7 col-sm-8">
                                    {{ model.Notification.Id}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 Mob_padZero">
                            <div class="form-group">
                                <label class="control-label col-lg-5 col-md-4  col-sm-3">
                                    Notification Date 
                                </label>
                                <div class="col-lg-7 col-sm-8">
                                    {{ model.Notification.Date | date:"dd-MMM-yyyy" }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 Mob_padZero">
                            <div class="form-group">
                                <label class="control-label col-lg-5 col-md-4 col-sm-3">
                                    Status 
                                </label>
                                <div class="col-lg-7 col-sm-8">
                                    {{  statusType[model.Notification.Status]}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 Mob_padZero">
                            <div class="form-group">
                                <label class="control-label col-lg-5 col-md-4 col-sm-3">
                                    Sender 
                                </label>
                                <div class="col-lg-7 col-sm-8">
                                    {{ model.RequestDetails.StaffName }} - ({{ model.RequestDetails.StaffNo}})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form_inputs">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">
                            Remarks <i class="pull-right"></i>
                        </h3>
                    </div>
                    <div class="panel-body detailForm mob_padLeftZero mob_padRightZero">
                        <div class="col-lg-11 col-md-11 padZero Mob_padZero form-outline col-lg-offset-right-1 col-md-offset-right-1"
                             ng-bind-html="notificationModel.Message">
                        </div>
                        <div class="txtRight  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-primary" title="" ng-click="acknowledge()">Acknowledge</button>
                            <button type="button" class="btn btn-primary" title="" ng-click="goBack()">Back</button>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        setContainerHeight();
    });
</script>