
<div id="tab-3" class="row" block-ui="ipmHotelInfoBlockUI" ng-controller='ipm.hotelInfo.controller'>

    <div class="col-lg-12 col-md-12 col-sm-12 stationhotel_info_box" ng-if="(isDataAvailable==true)">
        <div class="col-lg-12 col-md-12 col-sm-12 extraInfo">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 txtRight">Name</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">{{hotelInfoViewModel.HotelName }}</div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 txtRight">Address</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">{{hotelInfoViewModel.Address }}</div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 txtRight">Telephone</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" ng-bind-html="hotelInfoViewModel.Telephone"></div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 txtRight">Fax</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" ng-bind-html="hotelInfoViewModel.Fax"></div>

                </div>
                <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 txtRight hotelContlbl">Hotel Contact</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 hotelEmailDetlbl">{{hotelInfoViewModel.HotelContactPersonName }}</div>

                </div>

            </div>
            <div class="row">
                <div class="col-lg-offset-3 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-6 col-md-10 col-sm-10 col-xs-10">
                    <table style="width: 100%;"
                           cellpadding="0" cellspacing="0" class="mealbox">
                        <tr>
                            <td colspan="4" align="center" style="font-size:14px;">
                                Meals Allowances in QARs (Qatar Riyals)
                            </td>
                        </tr>
                        <tr><td>Breakfast</td><td>Lunch</td><td>Dinner</td><td>Total</td></tr>
                        <tr class="mealbox_values stationInfodet"><td>{{hotelInfoViewModel.MealsAllowanceQarBreakfast }}</td><td>{{hotelInfoViewModel.MealsAllowanceQarLunch }}</td><td>{{hotelInfoViewModel.MealsAllowanceQarDinner }}</td><td>{{ hotelInfoViewModel.Total |number:2}}</td></tr>
                    </table>

                </div>
            </div>
        </div>

        <div class="row crew_sos">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 crew_cell_bg">
                    <h1>
                        Hotel Benefits & Discounts
                    </h1>
                    <div class=" col-lg-12">
                        <div class="scrolling_box crewInfExpln" scrollbar="">
                            <span id="Span2" ng-bind-html="hotelInfoViewModel.HotelInformation">

                            </span>
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 crew_cell_bg economy_tab">
                    <h1>
                        Other Information
                    </h1>
                    <div class="col-lg-12">
                        <div class="scrolling_box crewInfExpln" scrollbar="">
                            <span id="Span3" ng-bind-html="hotelInfoViewModel.OtherInformation">-- none-- </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 stationhotel_info_box padZero" ng-if="(isDataAvailable==false)">
        <h1 style="color: #000" class="text-center">
            Hotel informations not available !
        </h1>
    </div>


</div>


