
<div class="container-fluid pull-left">
    <div class="content_wrapper Mob_margZero">
        <div class="col-lg-12 col-md-12 col-sm-12 Mob_padZero">
            <h1 class="page-tittle">
                <!--Contacts-->
                Key Contacts
            </h1>
            <div class="col-lg-12 col-md-12 col-sm-12 formStyles">
                <div class="row">
                    <div class="panel">
                        <!--<div class="panel-heading clearfix">
                            <h3 class="panel-title">
                                Key Contacts
                            </h3>
                        </div>-->
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 overflow_hide">
                                <div class="table-responsive dataGrid_styles" block-ui="ipmkeycontactsBlockUI">
                                    <div ui-grid="keycontactsgrid" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize ng-style="getTableHeight(keycontactsgrid)" class="grid searchGrid">
                                        <div class="watermark" ng-show="!keycontactsgrid.data.length">No data available</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        setContainerHeight();
    });
</script>