<div class="container-fluid pull-left">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="content_wrapper Mob_margZero">
        <!-- bs-example-navbar-collapse-1 -->
        <div class="col-lg-12 col-md-12 col-sm-12 Mob_padZero">
            <h1 class="page-tittle">
                Last 10 VRS
            </h1>
        </div>
        <!--Left panel-->
        <div class="col-lg-12 col-md-12 col-sm-12 formStyles">
            <div class="row">
                <div class="col-lg-12 col-md-12 form_inputs">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="title_h4">Last 10 VRs</h5>
                            <div class="col-lg-12 col-md-12 ass_sec_tabHead">
                                <span class="">Total 10 records found</span>
                                <div class="polistpagin">
                                    <span>Displaying page 1 of 1</span>
                                    <ul class="pagination">
                                        <li><a class="active" href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="">
                                <div class="row martop5">
                                    <div class="col-lg-2 col-md-2 assesdettabhead">eVR ID</div>
                                    <div class="col-lg-2 col-md-2 assesdettabhead floatLeftM30">Flight Number</div>
                                    <div class="col-lg-2 col-md-2 assesdettabhead floatLeftM30">ATD(UTC)</div>
                                    <div class="col-lg-1 col-md-1 assesdettabhead">Sector</div>
                                    <div class="col-lg-1 col-md-1 assesdettabhead">Status</div>
                                    <div class="col-lg-2 col-md-2 assesdettabhead">Department</div>
                                    <div class="col-lg-2 col-md-2 assesdettabhead">Report About</div>
                                </div>
                                <div class="row martop5">
                                    <div class="col-lg-2 col-md-2">2007758</div>
                                    <div class="col-lg-2 col-md-2 floatLeftM30">QR615</div>
                                    <div class="col-lg-2 col-md-2 floatLeftM30">09-Nov-2015 02:39</div>
                                    <div class="col-lg-1 col-md-1">ISB-DOH</div>
                                    <div class="col-lg-1 col-md-1"></div>
                                    <div class="col-lg-2 col-md-2">Ground Services</div>
                                    <div class="col-lg-2 col-md-2">Flight Documents</div>

                                </div>
                                <div class="row martop5">
                                    <div class="col-lg-2 col-md-2">2007756</div>
                                    <div class="col-lg-2 col-md-2 floatLeftM30">QR614</div>
                                    <div class="col-lg-2 col-md-2 floatLeftM30">08-Nov-2015 22:00</div>
                                    <div class="col-lg-1 col-md-1">DOH-ISB</div>
                                    <div class="col-lg-1 col-md-1"></div>
                                    <div class="col-lg-2 col-md-2">Duty Free</div>
                                    <div class="col-lg-2 col-md-2">Duty Free Chart</div>
                                </div>
                                <div class="row martop5">
                                    <div class="col-lg-2 col-md-2">2007757</div>
                                    <div class="col-lg-2 col-md-2 floatLeftM30">QR614</div>
                                    <div class="col-lg-2 col-md-2 floatLeftM30">08-Nov-2015 22:00</div>
                                    <div class="col-lg-1 col-md-1">DOH-ISB</div>
                                    <div class="col-lg-1 col-md-1"></div>
                                    <div class="col-lg-2 col-md-2">Human Factor</div>
                                    <div class="col-lg-2 col-md-2">Joined Briefing</div>
                                </div>
                                <div class="row martop5">
                                    <div class="col-lg-2 col-md-2">2007758</div>
                                    <div class="col-lg-2 col-md-2 floatLeftM30">QR614</div>
                                    <div class="col-lg-2 col-md-2 floatLeftM30">08-Nov-2015 22:00</div>
                                    <div class="col-lg-1 col-md-1">DOH-ISB</div>
                                    <div class="col-lg-1 col-md-1"></div>
                                    <div class="col-lg-2 col-md-2">General Customer Complaint</div>
                                    <div class="col-lg-2 col-md-2">Joined Briefing</div>
                                </div>
                                <div class="row martop5">
                                    <div class="col-lg-2 col-md-2">2007759</div>
                                    <div class="col-lg-2 col-md-2 floatLeftM30">QR614</div>
                                    <div class="col-lg-2 col-md-2 floatLeftM30">08-Nov-2015 22:00</div>
                                    <div class="col-lg-1 col-md-1">DOH-ISB</div>
                                    <div class="col-lg-1 col-md-1"></div>
                                    <div class="col-lg-2 col-md-2">Duty Free</div>
                                    <div class="col-lg-2 col-md-2">Duty Free Chart</div>
                                </div>
                                <div class="row martop5">
                                    <div class="col-lg-2 col-md-2">2007760</div>
                                    <div class="col-lg-2 col-md-2 floatLeftM30">QR615</div>
                                    <div class="col-lg-2 col-md-2 floatLeftM30">09-Nov-2015 02:39</div>
                                    <div class="col-lg-1 col-md-1">ISB-DOH</div>
                                    <div class="col-lg-1 col-md-1"></div>
                                    <div class="col-lg-2 col-md-2">Ground Services</div>
                                    <div class="col-lg-2 col-md-2">Flight Documents</div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>