<div class="container-fluid pull-left">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="content_wrapper Mob_margZero">
        <!-- bs-example-navbar-collapse-1 -->
        <div class="col-lg-12 col-md-12 col-sm-12 Mob_padZero">
            <h1 class="page-tittle">
                View Assessment
            </h1>
        </div>
        <!--Left panel-->
        <div class="col-lg-12 col-md-12 col-sm-12 formStyles">


            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 oldAsses_details">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 padZero">
                                <h5 class="panel-title">Assessment Details</h5>
                                <div class="asses_staff_info">
                                    <div class="col-lg-4 col-md-4 col-xs-12 ">
                                        <label for="ex1" class="mini_text">Flight Number:</label>
                                        <label class="label_text">QR828</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6  col-xs-4 ">
                                        <label for="ex1" class="mini_text">Flight Date:</label>
                                        <label class="label_text">11-June-2014</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2  col-xs-8 textfloatleft10">
                                        <label for="ex1" class="mini_text">Sector:</label>
                                        <label class="label_text">DOH-BKK</label>
                                    </div>

                                    <div class="col-lg-4  col-md-4 col-sm-4  col-xs-4 ">

                                        <label for="ex1" class="mini_text">Assessment Status:</label>
                                        <label class="label_text">Accepted</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6  col-xs-8 ">

                                        <label for="ex1" class="mini_text">Date of Assessment:</label>
                                        <label class="label_text">11-June-2014</label>
                                    </div>

                                    <div class="col-lg-4  col-md-4 col-sm-6  col-xs-4 ">

                                        <label for="ex1" class="mini_text">Assessor Crew</label>
                                        <label class="label_text">ZUBNAAN Abdulla(19903)</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6  col-xs-8 ">

                                        <label for="ex1" class="mini_text">Assessee Crew</label>
                                        <label class="label_text">MONTEMONT VILAR Julie(33445)</label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 ">
                                        <label for="ex1" class="mini_text">Assessor Grade:</label>
                                        <label class="label_text">CSD since Aug - 2012</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6  col-xs-8 ">
                                        <label for="ex1" class="mini_text">Assessee Grade:</label>
                                        <label class="label_text">F1 since Dec - 2012</label>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>






            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eVR_details">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 padZero">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 oldassesCSDtab">
                                    <ul class="nav nav-tabs nav-tab-oldasses">
                                        <li class="active"><a data-toggle="tab" href="#personalpersection">PERSONAL PERFORMANCE</a></li>
                                        <li><a data-toggle="tab" href="#customerfocussection">CUSTOMER FOCUS</a></li>
                                        <li><a data-toggle="tab" href="#servicefocussection">SERVICE FOCUS</a></li>
                                        <li><a data-toggle="tab" href="#teamfocussection">TEAM FOCUS</a></li>
                                        <li><a data-toggle="tab" href="#saftyfocussection">SAFTY FOCUS</a></li>
                                    </ul>
                                </div>

                                <div class="tab-content">
                                    <div id="personalpersection" class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="detail_rating_title">
                                                            <span class="title_h4">PERSONAL PERFORMANCE</span>
                                                            <span class="span_title_h4">Rating: 4</span>
                                                        </div>
                                                        <div class="row asst_det_row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <input type="checkbox" />
                                                                <span class="asst_det_title">Punctuality-</span>
                                                                <span>Reporting for Pre-flight briefings as well as on reporting prior to pick-up on Layovers.</span>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <input type="checkbox" />
                                                                <span class="asst_det_title">In Possession</span>
                                                                <span>of Legal Documents.</span>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <input type="checkbox" />
                                                                <span class="asst_det_title">Adherence to Grooming standards.</span>
                                                                <span></span>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <input type="checkbox" />
                                                                <span class="asst_det_title">Pre-Flight Preparation</span>
                                                                <span>Flight Information, Station information, IFE screening, Service Sequence.</span>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <input type="checkbox" />
                                                                <span class="asst_det_title">Verbal Structure -</span>
                                                                <span>Good Command of language, Hand Gestures and facial Expression,Eye Contact.</span>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <input type="checkbox" />
                                                                <span class="asst_det_title">Listening Skills</span>
                                                                <span></span>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <input type="checkbox" />
                                                                <span class="asst_det_title">Communication with External Customers -</span>
                                                                <span>Interacts confidently and effectively with Customers.</span>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <input type="checkbox" />
                                                                <span class="asst_det_title">Ensures Job Tasks</span>
                                                                <span>are completed prior to assisting others.</span>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <input type="checkbox" />
                                                                <span class="asst_det_title">Accepting Feedback</span>
                                                                <span>positively.</span>
                                                            </div>

                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 martop20">
                                                                <h5 class="title_h4">Comments:</h5>
                                                                <textarea class="form-control" rows="3" id=""></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="customerfocussection" class="tab-pane fade">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="detail_rating_title">
                                                            <span class="title_h4">CUSTOMER FOCUS</span>
                                                            <span class="span_title_h4">Rating: 4</span>
                                                        </div>
                                                            <div class="row asst_det_row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Presence in the cabin</span>
                                                                    <span>prior to boarding, delivering a warm/Friendly greeting,escorting customers and Thanking our Premium and privilege club prior to landing.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Checks customers comfort proactively</span>
                                                                    <span>on Cabin temperature, Pregnant Ladies,UM,YP,Mother with infants well being.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Attention to call bells.</span>
                                                                    <span></span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Establishes Customers Feedback.</span>
                                                                    <span>
                                                                        Through In-Flight Survey forms,if applicable, Checking customer feedback on satisfaction and
                                                                        suggestions through PR skills, and informs the CD/CS regarding the same.
                                                                    </span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Maintains Cleanliness/Good Appearance</span>
                                                                    <span>of the Cabin and Lavatories.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">PIL awareness and Utilization-</span>
                                                                    <span>Ensures name of premium customers properly recorded on the bar/meal preference form, Highlights WCHR, VIPs, CIPs, Doctors, UM, YP, PC members etc.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Privilege Club Members -</span>
                                                                    <span>Recognition and recruiting potential Privilege Club members.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">SPHL customers-</span>
                                                                    <span>Checked and assisted regularly.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Customers Profile-</span>
                                                                    <span>Aware of their needs and which requires crew specific actions to showcase our "GREAT" customer care.</span>
                                                                </div>

                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 martop20">
                                                                    <h5 class="title_h4">Comments:</h5>
                                                                    <textarea class="form-control" rows="3" id=""></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="servicefocussection" class="tab-pane fade">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="detail_rating_title">
                                                            <span class="title_h4">SERVICE FOCUS</span>
                                                            <span class="span_title_h4">Rating: 3</span>
                                                        </div>
                                                            <div class="row asst_det_row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Service Focus -</span>
                                                                    <span>Aware of the service sequence and sector specifics.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Specific action plans</span>
                                                                    <span>To personalize the services for customers.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Cabin/Galley Preparation.</span>
                                                                    <span>Cabin/Galley and lavatory are well prepared prior to Customer boarding.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Service Standards</span>
                                                                    <span>
                                                                        Compliance
                                                                    </span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Menu Awarness</span>
                                                                    <span>Description and terminologies.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Service Delivery</span>
                                                                    <span>Finesse and efficiency in the service delivery.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Time Focus -</span>
                                                                    <span>Prioritizing duties to ensure prompt Delivery.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Attention to Details</span>
                                                                    <span>in Service delivery/Galley Operation.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Hygiene Standards-</span>
                                                                    <span>
                                                                        on platting/handling, storing food and beverages in clean safe areas/preserving food on double sector, along and ultra long
                                                                        routes/ensuring Food and Beverages are not placed on floor areas or close to objects that would contaminate the same.
                                                                    </span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Service and Product Knowledge -</span>
                                                                    <span>Assessing specific service procedures, on board products i.e bars and beverages, latest Service memos.</span>
                                                                </div>

                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 martop20">
                                                                    <h5 class="title_h4">Comments:</h5>
                                                                    <textarea class="form-control" rows="3" id=""></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="teamfocussection" class="tab-pane fade">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="detail_rating_title">
                                                            <span class="title_h4">TEAM FOCUS</span>
                                                            <span class="span_title_h4">Rating: 4</span>
                                                        </div>
                                                            <div class="row asst_det_row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Awarness and Open communication with the team</span>
                                                                    <span>on customer complains on service delivery, Rectifying INOP IFE seats and services recovery actions.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Awarness and Open communication with the team</span>
                                                                    <span>on intoxicated, unruly, Smoking PAX, Sick PAX, Defective Equipment.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Open communication and respect</span>
                                                                    <span>to Support staff-Catering/Cleaners/Ground staff.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Follows-up on the instructions</span>
                                                                    <span>
                                                                        of the CD/CS promptly.
                                                                    </span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Coordination and synchronization as team player.</span>
                                                                    <span></span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Readily involves self</span>
                                                                    <span>in problem solving, provides suitable alternatives and available to the team when needed.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Respects</span>
                                                                    <span>Cultural Differences and Communicates professionally.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Display Initiative -</span>
                                                                    <span>Assisting the Team in any cabin during service, sharing responsibilities with colleagues.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Accommodating-</span>
                                                                    <span>Listens with empathy to the needs of the Team.</span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Builds Positive rapport with all Crew -</span>
                                                                    <span>Greeting colleagues, Thanking them for assistance offered, Interaction within the team.</span>
                                                                </div>

                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 martop20">
                                                                    <h5 class="title_h4">Comments:</h5>
                                                                    <textarea class="form-control" rows="3" id=""></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="saftyfocussection" class="tab-pane fade">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="detail_rating_title">
                                                            <span class="title_h4">SAFETY FOCUS</span>
                                                            <span class="span_title_h4">Rating: 3</span>
                                                        </div>
                                                            <div class="row asst_det_row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Conducts a thorough Safety & Security Search -</span>
                                                                    <span>
                                                                        Conducts a thorough Safety check of equipment and fixtures(Doors,seats etc) in their emergency area. Conducts a
                                                                        detailed and thorough Security Search in their emergency area in accordance with guidelines issued by the Security department.
                                                                    </span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Security Cabin / Galley for take-off and Landing -</span>
                                                                    <span>
                                                                        Ensures that the cabin / Galley area are secured for take-off and landing. Passes the Cabin Secure Check on time, is
                                                                        seated and strapped in their assigned crew seat in time.
                                                                    </span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Door Operations -</span>
                                                                    <span>
                                                                        Adheres to SOP's related to Arming/Disarming and Opening/Closing of the assigned Cabin Exit, if assigned a Door, if not,is
                                                                        aware of associated SOP's.
                                                                    </span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Knowledge on Standard Operating Procedures -</span>
                                                                    <span>
                                                                        Proficient in handling Unruly,smoking customers, INAD/DEPU/DEPA,UMs/YP.
                                                                    </span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">In flight Fire Prevention & Knowledge of Fire Fighting Procedures -</span>
                                                                    <span>
                                                                        Ovens are checked prior to start up, Gallery manned all the times, Patrolling of the cabin. Lavatories monitored at regular
                                                                        intervals. Is aware of procedures when dealing with in Flight Fire situations.
                                                                    </span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Post Landing Safety Duties</span>
                                                                    <span>
                                                                        Conducts a thorough security check, hand over item found. Infant seat belt and other equipment returned to the correct
                                                                        stowage. Ensure that all units/carts locked and sealed.
                                                                    </span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Knowledge of Decompression / Turbulance Procedures -</span>
                                                                    <span>
                                                                        Is proficient in Decompression procedures. Is able to identify the various intensities of turbulance and is familiar
                                                                        with the associated crew actions.
                                                                    </span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Knowledge of Emergency Procedures -</span>
                                                                    <span>
                                                                        Is proficient in Emergency procedures on ground and in flight, this identification and selection of ABP's, ABP briefing,
                                                                        brace positions, post impact duties and crowd control.
                                                                    </span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Knowledge of Aircraft Doors & Systems-</span>
                                                                    <span>
                                                                        Is knowledgable of various aircraft systems such as evacuation signal system, emergency lighting, communications,
                                                                        water & waste(water shut off valves)etc. Is aware of the minimum crew complement, door features & procedures, ground and
                                                                        ditching evacuation procedures.
                                                                    </span>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <input type="checkbox" />
                                                                    <span class="asst_det_title">Knowledge of First Aid Procesures -</span>
                                                                    <span>Is proficient in First Aid procedures associated with CPR and in dealing with minor and major in Flight Emergencies.</span>
                                                                </div>

                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 martop20">
                                                                    <h5 class="title_h4">Comments:</h5>
                                                                    <textarea class="form-control" rows="3" id=""></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>



                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 score_aver_cont">
                                                    <span class="title_h4">The Total Score is the average of the percentage of each rating and round off.</span>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 marLeft15">
                                                            <label for="ex1" class="mini_text">Exceptional Achievements</label>
                                                            <label class="label_text">95-100%(Rating - 4)</label>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 marLeft15">
                                                            <label for="ex1" class="mini_text">Very Good Achievements</label>
                                                            <label class="mini_text">80-94%(Rating - 3)</label>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 marLeft15">
                                                            <label for="ex1" class="mini_text">Good Achievements</label>
                                                            <label class="mini_text">50-79%(Rating - 2)</label>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 marLeft15">
                                                            <label for="ex1" class="mini_text">Development Required</label>
                                                            <label class="mini_text">25-49%(Rating - 1)</label>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 marLeft15">
                                                            <label for="ex1" class="mini_text">Total Score: 18</label>
                                                            <label class="mini_text">Percentage:96%</label>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h5 class="title_h4">Additional Comments & Attachments</h5>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <textarea class="form-control" rows="3" id=""></textarea>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                    <h5 class="title_h4">Attached Documents</h5>
                                    <label for="ex1" class="mini_text">No records to display.</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>
