<div class="container-fluid pull-left">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="content_wrapper Mob_margZero">
        <!-- bs-example-navbar-collapse-1 -->
        <div class="col-lg-12 col-md-12 col-sm-12 Mob_padZero">
            <h1 class="page-tittle">
                Previous Assessments
            </h1>
        </div>
        <!--Left panel-->
        <div class="col-lg-12 col-md-12 col-sm-12 formStyles">


            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form_inputs">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="title_h4">Crew Details</h5>
                            <div class="crew_staff_info">
                                <div class="col-lg-4 col-md-4 col-xs-12 ">
                                    <label for="ex1" class="mini_text">Staff ID:</label>
                                    <label class="label_text">23346</label>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5  col-xs-4 ">
                                    <label for="ex1" class="mini_text">Name:</label>
                                    <label class="label_text">NAIDU Sharanya Santaan</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4  col-xs-8">
                                    <label for="ex1" class="mini_text">Grade:</label>
                                    <label class="label_text">F1</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 form_inputs">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 ass_sec_tabHead">
                                <span class="">Total 10 records found</span>
                                <div class="polistpagin">
                                    <span>Displaying page 1 of 1</span>
                                    <ul class="pagination">
                                        <li><a class="active" href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                    </ul>
                                </div>
                            </div>


                            <div class="prev_ass_table">
                                <div class="row martop5">
                                    <div class="col-lg-1 col-md-1 assesdettabhead">Flight #</div>
                                    <div class="col-lg-2 col-md-2 assesdettabhead">Flight Date</div>
                                    <div class="col-lg-1 col-md-1 assesdettabhead floatLefM15">Sector</div>
                                    <div class="col-lg-2 col-md-2 assesdettabhead">Assessment Status</div>
                                    <div class="col-lg-2 col-md-2 assesdettabhead">Assessment Type</div>
                                    <div class="col-lg-2 col-md-2 assesdettabhead">Assessment Date</div>
                                    <div class="col-lg-2 col-md-2 assesdettabhead">Assessment Name</div>
                                </div>
                                <div class="row martop5">
                                    <div class="col-lg-1 col-md-1">QR436</div>
                                    <div class="col-lg-2 col-md-2">11-Dec-2012</div>
                                    <div class="col-lg-1 col-md-1 floatLefM15">DOH-PVG</div>
                                    <div class="col-lg-2 col-md-2">Accepted</div>
                                    <div class="col-lg-2 col-md-2">Scheduled</div>
                                    <div class="col-lg-2 col-md-2">12-Dec-15</div>
                                    <div class="col-lg-2 col-md-2">SO Aamee Fath Vaisoe</div>
                                </div>
                                <div class="row martop5">
                                    <div class="col-lg-1 col-md-1">QR512</div>
                                    <div class="col-lg-2 col-md-2">30-Jan-2012</div>
                                    <div class="col-lg-1 col-md-1 floatLefM15">DOH-DOM</div>
                                    <div class="col-lg-2 col-md-2">Complete</div>
                                    <div class="col-lg-2 col-md-2">Scheduled</div>
                                    <div class="col-lg-2 col-md-2">30-Jan-2011</div>
                                    <div class="col-lg-2 col-md-2">D'SOUZA Diane Comentie</div>
                                </div>
                                <div class="row martop5">
                                    <div class="col-lg-1 col-md-1">QR583</div>
                                    <div class="col-lg-2 col-md-2">18-Dec-2011</div>
                                    <div class="col-lg-1 col-md-1 floatLefM15">LOS-DOM</div>
                                    <div class="col-lg-2 col-md-2">Complete</div>
                                    <div class="col-lg-2 col-md-2">Unscheduled</div>
                                    <div class="col-lg-2 col-md-2">15-Dec-2011</div>
                                    <div class="col-lg-2 col-md-2">Fez Mohamad Karim</div>
                                </div>
                                <div class="row martop5">
                                    <div class="col-lg-1 col-md-1">QR436</div>
                                    <div class="col-lg-2 col-md-2">11-Dec-2012</div>
                                    <div class="col-lg-1 col-md-1 floatLefM15">DOH-PVG</div>
                                    <div class="col-lg-2 col-md-2">Accepted</div>
                                    <div class="col-lg-2 col-md-2">Scheduled</div>
                                    <div class="col-lg-2 col-md-2">1-Dec-2015</div>
                                    <div class="col-lg-2 col-md-2">SO Aamee Fath Vaisoe</div>
                                </div>
                                <div class="row martop5">
                                    <div class="col-lg-1 col-md-1">QR583</div>
                                    <div class="col-lg-2 col-md-2">18-Dec-2011</div>
                                    <div class="col-lg-1 col-md-1 floatLefM15">LOS-DOM</div>
                                    <div class="col-lg-2 col-md-2">Complete</div>
                                    <div class="col-lg-2 col-md-2">Unscheduled</div>
                                    <div class="col-lg-2 col-md-2">15-Dec-2011</div>
                                    <div class="col-lg-2 col-md-2">Fez Mohamad Karim</div>
                                </div>
                                <div class="row martop5">
                                    <div class="col-lg-1 col-md-1">QR512</div>
                                    <div class="col-lg-2 col-md-2">30-Jan-2012</div>
                                    <div class="col-lg-1 col-md-1 floatLefM15">DOH-DOM</div>
                                    <div class="col-lg-2 col-md-2">Complete</div>
                                    <div class="col-lg-2 col-md-2">Scheduled</div>
                                    <div class="col-lg-2 col-md-2">30-Jan-2011</div>
                                    <div class="col-lg-2 col-md-2">D'SOUZA Diane Comentie</div>
                                </div>

                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>