<div class="container-fluid pull-left">
    <div class="content_wrapper Mob_margZero">
        <div class="col-lg-12 col-md-12 col-sm-12 Mob_padZero" ng-if="showNotification">
            <h1 class="page-tittle">
                <button class="btn pull-right default_backbtn" title="back to previous page" ng-click="goBack(back)">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                </button>
                <span>Assessment Notification</span>
            </h1>
            <div class="col-lg-12 col-md-12 col-sm-12 Mob_padZero formStyles">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix highlightPanelHeading">
                                <h3 class="panel-title">
                                    Notification Details <i class="pull-right"></i>
                                </h3>
                            </div>
                            <div class="panel-body detailForm mob_padLeftZero mob_padRightZero">

                                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 Mob_padZero">
                                    <div class="form-group">
                                        <label class="control-label col-lg-5 col-md-4  col-sm-3" for="email">
                                            Notification ID 
                                        </label>
                                        <div class="col-lg-7 col-sm-8">
                                            {{ model.Id}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 Mob_padZero">
                                    <div class="form-group">
                                        <label class="control-label col-lg-5 col-md-4  col-sm-3" for="email">
                                            Notification Date 
                                        </label>
                                        <div class="col-lg-7 col-sm-8">
                                            {{ model.Date | date:"dd-MMM-yyyy" }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 Mob_padZero">
                                    <div class="form-group">
                                        <label class="control-label col-lg-5 col-md-4 col-sm-3" for="email">
                                            Status 
                                        </label>
                                        <div class="col-lg-7 col-sm-8">
                                            {{ statusType[model.Status] }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 Mob_padZero">
                                    <div class="form-group">
                                        <label class="control-label col-lg-5 col-md-4 col-sm-3" for="email">
                                            Sender 
                                        </label>
                                        <div class="col-lg-7 col-sm-8">
                                            {{ model.Sender }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form_inputs">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title">
                                    Remarks <i class="pull-right"></i>
                                </h3>
                            </div>
                            <div class="panel-body detailForm mob_padLeftZero mob_padRightZero">
                                <div class="col-lg-11 col-md-11 padZero Mob_padZero form-outline col-lg-offset-right-1 col-md-offset-right-1"
                                     ng-bind-html="remark">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="page-tittle">
                <button class="btn pull-right default_backbtn" title="back to previous page" ng-if="!showNotification" ng-click="goBack(back)">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                </button>
                <span>Assessment Details</span>
            </h1>
            <!--Left panel-->
            <div class="col-lg-12 col-md-12 col-sm-12 Mob_padZero formStyles recordAssescont mob-word-wrap" block-ui="ipmassessmentBlockUI">
                <!--Profile-->
                <ng-form name="AssessmentRequestForm" class="formStyles">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form_inputs">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title">
                                        Assessee Crew <i class="pull-right"></i>
                                    </h3>
                                </div>
                                <div class="panel-body detailForm mob_padLeftZero mob_padRightZero">

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 Mob_padZero">
                                        <div class="form-group clearfix assesse_crew">
                                            <label class="control-label control-label col-lg-4 col-md-5 col-sm-5 col-xs-5 floatLeftM20" for="reqtype">
                                                Assessee Crew:
                                            </label>
                                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-12 minformWidth">
                                                {{assesseeStaffName}}
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 Mob_padZero mob-mar-tp10">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-3 col-sm-3">
                                                Choose Action:
                                            </label>
                                            <div class="col-lg-10 col-md-9 col-sm-9 txtLeft">
                                                <span class="glyphicon" ng-class="model.vModel.Assessment.IsRecorded == '1' ? 'glyphicon-ok' : 'glyphicon-unchecked'"></span>
                                                <span>Record Assessment</span>
                                                <span class="glyphicon" ng-class="!model.vModel.Assessment.IsRecorded == '2'? 'glyphicon-ok' : 'glyphicon-unchecked'"></span>
                                                <span>Unable to conduct Assessment</span>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="detailForm assessment_layout martopM15">
                                        <div class="row">
                                            <h1 class="page-tittle">Inflight services <span>Performance Review - {{assesseeGrade}}</span></h1>
                                            <div class="panel-body ">
                                                <uib-accordion>
                                                    <uib-accordion-group is-open="status.open">
                                                        <uib-accordion-heading>
                                                            OVERALL RATING GUIDELINE <i class="pull-right " ng-class="{'glyphicon glyphicon-chevron-down': status.open, 'glyphicon glyphicon-chevron-right': !status.open}"></i>
                                                        </uib-accordion-heading>
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Mob_padZero assesmnt_grid1">

                                                            <div class="row asses_th">
                                                                <div class="pull-right col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center"><div class="">Rank</div></div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padZero asses_comp_highlight">
                                                                    <h3>Compliance</h3>


                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 padZero">Description for each guideline</div>
                                                            </div>

                                                            <div class="row" ng-repeat="item in model.vModel.Assessment.RatingGuidelines">
                                                                <div class="pull-right col-lg-2 col-md-2 col-sm-2 col-xs-4 text-center"><div class="assesmnt_rank">{{item.Rating}}</div></div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padZero asses_comp_highlight">
                                                                    <h3>{{item.RatingDescription}}</h3>
                                                                    <span ng-bind-html="item.ComplianceDesc"></span>

                                                                </div>

                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 padZero"> {{item.GuidelineDesc}}</div>
                                                            </div>

                                                        </div>
                                                    </uib-accordion-group>
                                                </uib-accordion>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form_inputs infltService">
                                            <!--<div class="panel panel-default">-->
                                            <div class=" detailForm   assessment_layout">
                                                <!--<div class="col-lg-12 padZero">
                                                    <h1 class="page-tittle">Inflight services <span>Performance Review - {{assesseeGrade}}</span></h1>
                                                </div>-->
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 padZero martop10">
                                                        <div class="asses_staff_info">
                                                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 floatLeftM30">-->
                                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inflighttableCol">
                                                                    <div class="col-lg-3 col-md-5 col-sm-5 col-xs-5">
                                                                        <label for="ex1" class="mini_text">Name</label>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-7 col-sm-7 col-xs-7">
                                                                        <span class="">{{assesseeStaffName}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inflighttableCol mob-marTop10">
                                                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                                                                        <label for="ex1" class="mini_text">Staff No.</label>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
                                                                        <span class="">{{assesseeStaffNo}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inflighttableCol">
                                                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                                                                        <label for="ex1" class="mini_text">Designation</label>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
                                                                        <span class="">{{assesseeGrade}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12 inflighttableCol">
                                                                    <div class="col-lg-3 col-md-5 col-sm-5 col-xs-5">
                                                                        <label for="ex1" class="mini_text">Date</label>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-7 col-sm-7 col-xs-7">
                                                                        <span class="">{{date | date:'dd-MMM-yyyy'}}</span>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12 inflighttableCol">
                                                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                                                                        <label class="mini_text">Assessment Type</label>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
                                                                        <span class=" ">{{AssessmentType}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12 inflighttableCol">
                                                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                                                                        <label class="mini_text">Assessment Status</label>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
                                                                        <span class="">{{AssessmentStatus}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12 inflighttableCol">
                                                                    <div class="col-lg-3 col-md-5 col-sm-5 col-xs-5">
                                                                        <label for="ex1" class="mini_text">Work Position</label>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-7 col-sm-7 col-xs-7">
                                                                        <span class="">{{workPosition}}</span>
                                                                    </div>
                                                                </div>
                                                            <!--</div>-->
                                                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 floatLeftM30">-->
                                                                <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12 inflighttableCol">
                                                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                                                                        <label for="ex1" class="mini_text">Sector</label>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
                                                                        <span class="">{{sector}}</span>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12 inflighttableCol">
                                                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                                                                        <label for="ex1" class="mini_text">Flight No.</label>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
                                                                        <span class="">{{flightNumber}}</span>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-4  col-md-4 col-sm-12  col-xs-12 inflighttableCol">
                                                                    <div class="col-lg-3 col-md-5 col-sm-5 col-xs-5">
                                                                        <label for="ex1" class="mini_text">A/C type</label>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-7 col-sm-7 col-xs-7">
                                                                        <span class="">{{acType}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-12  col-xs-12">
                                                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                                                                        <label for="ex1" class="mini_text">Pax Load</label>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
                                                                        <span class="">{{pax_Load_F}}, {{pax_Load_J}}, {{pax_Load_Y}}, {{infants}}</span>
                                                                    </div>
                                                                </div>
                                                            <!--</div>-->

                                                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 floatLeftM30">-->
                                                                <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12 inflighttableCol">
                                                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                                                                        <label for="ex1" class="mini_text">Appraiser</label>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
                                                                        <span class="">{{appraiser}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12 inflighttableCol">
                                                                    <div class="col-lg-3 col-md-5 col-sm-5 col-xs-5">
                                                                        <label for="ex1" class="mini_text">Staff No.</label>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-7 col-sm-7 col-xs-7">
                                                                        <span class="">{{staffNo}}</span>
                                                                    </div>
                                                                </div>
                                                                <!--<div class="divider"></div>-->
                                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
                                                                        <label for="ex1" class="mini_text">Reports to PM</label>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
                                                                        <span class="">{{reportedPM}}</span>
                                                                    </div>
                                                                </div>
                                                            <!--</div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row" ng-show="rdRecAsmt=='RecNonAsmt'">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form_inputs">
                            <div class="panel-body detailForm   assessment_layout">
                                <div class="col-lg-12 padZero">
                                    <h1 class="page-tittle">Reason For Non-Assessment</h1>
                                </div>
                                <div class="panel-body form-group col-lg-2 col-md-3 col-sm-4" ng-if="rdRecAsmt=='RecNonAsmt'">
                                    {{model.vModel.Assessment.ReasonForNonSubmission}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="rdRecAsmt=='RecAsmt'">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="rdRecAsmt=='RecAsmt'">
                            <div class="panel panel-default">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix martopM10">
                                        <h3 class="panel-title">
                                            Objective(s) <i class="pull-right"></i>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="objectivesInner">
                                            <div class="col-lg-12 col-md-12 padZero">

                                                <!--<h5 class="page-tittle">Objective(s)</h5>-->
                                                <div id="profileTabsContents" class="profile_tabview recordAssesTabView">
                                                    <tabset class="recordAssesTabset tab-animation">
                                                        <tab class="obj_safetyTabIcons" ng-repeat="objective in model.vModel.Assessment.Objectives"
                                                             select="onObjectiveTabChange(objective)">
                                                            <tab-heading>
                                                                <div class="">
                                                                    <img ng-src="data:image/JPEG;base64,{{objective.ObjectiveImage}}">
                                                                    <span>{{objective.ObjectiveName}}</span>
                                                                </div>
                                                            </tab-heading>
                                                            <div class="tab-pane fade  in active">

                                                                <div class="objectivestable">
                                                                    <div class="row obj_tab_title">
                                                                        <span>TO BE GLOBALLY RECONIZED AS THE WORLD'S SAFETY AIRLINE</span>
                                                                    </div>
                                                                    <div class="row">
                                                                        <span>Cabin crew members are accountable for 100% compliance of safety and security on board every flight</span>
                                                                    </div>
                                                                    <div class="row objectivestableheader">
                                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">Competencies</div>
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Rating</div>
                                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 floatLeftM30">Observation / Findings</div>
                                                                    </div>

                                                                    <div class="row martop5 objectivetableHeadValue" ng-repeat="competency in objective.Competencies ">
                                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 martop10">
                                                                            <span>{{competency.CompetencyName}}</span>
                                                                            <button type="button" class="help-icon" popover-title="{{competency.CompetencyName}}" popover-trigger="focus"
                                                                                    uib-popover="{{competency.Description && competency.Description.length > 0 ? competency.Description : '-'}}" ng-hide="isMobile">
                                                                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 martop5">
                                                                            {{competency.Rating}}
                                                                        </div>
                                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 floatLeftM30 overflow_content"
                                                                             ng-bind-html="to_trusted(competency.Comments)">
                                                                        </div>
                                                                    </div>

                                                                    <div class="row objectExceedExp">Exceeds Expectations</div>
                                                                    <div class="row martop5 objectivetableHeadValue" ng-repeat="exceedsExpectation in objective.ExceedsExpectations ">
                                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 martop10">
                                                                            {{exceedsExpectation.CompetencyName}}
                                                                        </div>
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 floatLeftM20">
                                                                            <label class="checkbox-inline">
                                                                                <span class="glyphicon" ng-class="exceedsExpectation.IsEEChecked != 'N' ? 'glyphicon-ok' : 'glyphicon-unchecked'"></span>

                                                                            </label>
                                                                        </div>
                                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 floatLefM10 overflow_content"
                                                                             ng-bind-html="to_trusted(exceedsExpectation.Comments)">
                                                                        </div>
                                                                    </div>

                                                                    <div class="row recrdAsses_cmt">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 floatLefMin15">
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-body">
                                                                                    <h5 class="title_h4">*Comment:</h5>
                                                                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 overflow_content"
                                                                                         ng-bind-html="to_trusted(objective.Comments)">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row recrdAsses_cmt">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 floatLefMin15">
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-body">
                                                                                    <h5 class="title_h4">{{ objective.ObjectiveName}} -  {{objective.RatingDescription}}</h5>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </tab>
                                                    </tabset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row " ng-show="rdRecAsmt=='RecAsmt' || rdRecAsmt=='RecNonAsmt'">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h5 class="title_h4">* Overall Comments:</h5>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 overflow_content"
                                         ng-bind-html="to_trusted(model.vModel.Assessment.AdditionalComments)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="showIDPForm && rdRecAsmt=='RecAsmt'">
                        <div class="col-lg-12 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title">
                                        Individual Development Plan<i class="pull-right"></i>
                                    </h3>
                                </div>
                                <div class="panel-body detailForm mob_padLeftZero mob_padRightZero">
                                    <div ng-repeat="objective in model.vModel.Assessment.Objectives" ng-hide='objective.AssmIDPs.length <  1'>
                                        <div class="safetytable">
                                            <div class="saftytabletitle">{{objective.ObjectiveName}}</div>
                                            <div class="row safetytableheader">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Category</div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Observation</div>
                                                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-4">Expected Results</div>
                                            </div>
                                            <div class="row martop5 idpDetvalues" ng-repeat="assmIDP in objective.AssmIDPs" ng-show='objective.ObjectiveName == assmIDP.ObjectiveName '>
                                                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 mob-mar-tp10"> {{assmIDP.CompetencyName}}</div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mob-mar-tp10 overflow_content">
                                                    {{assmIDP.Observation}}
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mob-mar-tp10 overflow_content"
                                                     ng-bind-html="to_trusted(assmIDP.ExpectedResult)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="rdRecAsmt=='RecAsmt'">
                        <div class="container" ng-if="model.vModel.Assessment.Attachments && model.vModel.Assessment.Attachments.length > 0">
                            <div class="col-lg-11 col-md-11 padZero Mob_padZero form-outline col-lg-offset-right-1 col-md-offset-right-1">
                                <div class="row">
                                    <div class="col-lg-6 col-md-9 col-sm-8 col-lg-offset-2 col-md-offset-right-2 col-sm-offset-3">
                                        <table class="table table-striped table-bordered dataTable no-footer blueTHTable" cellspacing="0" role="grid" aria-describedby="example_info" style="width: 100%;">
                                            <thead>
                                                <tr role="row" class="headerRow">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                                        aria-label="Request No.: activate to sort column descending">
                                                        File Name
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row" class="odd" ng-repeat="file in model.vModel.Assessment.Attachments">
                                                    <td class="sorting_1">
                                                        <a href="javascript:void(0);" ng-click="openImage(file)">{{file.FileName}}</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row martop10">
                        <div class="txtRight  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn btn-primary" title="" ng-click="acknowledge()" ng-show="showNotification">Acknowledge</button>
                            <button class="btn btn-primary" title="" ng-click="goBack(back)" ng-show="!showNotification">Back</button>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        setContainerHeight();
    });
</script>