
<div id="tab-2" class="row" block-ui="ipmStationInfoBlockUI" ng-controller='ipm.stationInfo.controller'>
    <div class="col-lg-12 col-md-12 col-sm-12 stationhotel_info_box padZero" ng-if="(isDataLoad==Loading)" style="min-height:100px">
        <h1 style="text-align: center !important;">
            Loading.......
        </h1>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 stationhotel_info_box " ng-if="(isDataLoad==Yes)">
        <div class="col-lg-12 col-md-12 col-sm-12 stationinfocontentvisbck ">
            <div class="row extraInfo stationInfodet">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 txtRight">City</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 stationInfovalue">{{stationInfoViewModel.CityName }}({{stationInfoViewModel.StationCode}})</div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 txtRight">Country</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 stationInfovalue">{{stationInfoViewModel.CountryName }}</div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 txtRight cntycodelinhgt">Country Code</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 stationInfovalue">{{stationInfoViewModel.CountryCode }}</div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 txtRight">Local Time</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 stationInfovalue">{{stationInfoViewModel.LocalTime }}</div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 txtRight cntycodelinhgt">Airport Name</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 stationInfovalue">{{stationInfoViewModel.AirportName }}</div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 txtRight">Language</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 stationInfovalue">{{stationInfoViewModel.Language }}</div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 txtRight cntycodelinhgt">Handling Agents</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 stationInfovalue">{{stationInfoViewModel.HandlingAgent }}</div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 txtRight">Catering</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 stationInfovalue">{{stationInfoViewModel.Catering }}</div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 txtRight">Currency</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 stationInfovalue">{{stationInfoViewModel.Currency }}</div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 txtRight">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Station Contact</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 txtLeft stationInfovalue">{{stationInfoViewModel.StationContact }}</div>

                </div>


            </div>
        </div>
        <div class="row crew_sos">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 crew_cell_bg">
                    <h1>
                        Crew Information
                    </h1>
                    <div class=" col-lg-12">
                        <div class="scrolling_box" scrollbar="">
                            <span id="ctl00_PlaceHolderMain_id2_lblCustomerInformation" class="crewInfExpln" ng-bind-html="stationInfoViewModel.CrewInformation">

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 crew_cell_bg economy_tab">
                    <h1>
                        Customer Information
                    </h1>
                    <div class="col-lg-12">
                        <div class="scrolling_box" scrollbar="">
                            <span id="ctl00_PlaceHolderMain_id2_lblCrewInformation" class="crewInfExpln" ng-bind-html="stationInfoViewModel.CustomerInformation">

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--station info END-->

    <div class="col-lg-12 col-md-12 col-sm-12 stationhotel_info_box padZero" ng-if="(isDataLoad==No)">
        <h1 style="color: #000" class="text-center">
            Station informations not available !
        </h1>
    </div>



</div>

<script type="text/javascript">
    $(document).ready(function () {
        setContainerHeight();
    });
</script>